* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background: url('https://images.unsplash.com/photo-1501446529957-6226bd447c46?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 500px;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

.logo a {
    font-size: 24px;
}

.header-info {
    margin-top: 5rem;
    width: 500px;
}

